*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 236);
}
.top{
    display: flex;
    padding-top: 2rem;
}

.row{
    --bs-gutter-x: -0.5rem;
}

