
.details {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(8px);
   
  }
  
  .card-d {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
    border: 2px solid black;
    background-color: #0c1821;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .details-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
  }
  
  .details-image img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .details-info {
    flex: 1;
    padding-left: 20px;
  }
  
  .details-info h2 {
    font-size: 24px;
    margin-bottom: 10px;

  }
  
  .list-group-item {
    margin-bottom: 5px;
    font-size: 16px;
    background-color: #0c1821;
    color: white;
  }
  