
.search-results
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 37%;
    margin-left: 55%;
    background-color: #fff;
    position: relative;
    margin-top: 1px;
    border-radius: 5px;
}